<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HKCCTV</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <link rel="icon" type="image/png" href="https://firebasestorage.googleapis.com/v0/b/hk-cctv-hk-teknologi.appspot.com/o/assets%2Fhk-iot-logo.png?alt=media&token=4a4e4b98-912d-4975-9b5b-89dd41d421d9&_gl=1*1y78ae2*_ga*MjA3OTQ2NjI3MC4xNjk0MDczMzcx*_ga_CW55HF8NVT*MTY5NzA4MDg0Mi40LjEuMTY5NzA4MTU1Ny4zMC4wLjA.">
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <section>
        <div class="w-full self-center py-4">
            <img src="https://firebasestorage.googleapis.com/v0/b/hk-cctv-hk-teknologi.appspot.com/o/assets%2Fhk-iot-full.png?alt=media&token=544c607a-c7f5-433c-a4cc-1f08be65caac&_gl=1*153p0le*_ga*MjA3OTQ2NjI3MC4xNjk0MDczMzcx*_ga_CW55HF8NVT*MTY5NzA4MDg0Mi40LjEuMTY5NzA4MDg5OS4zLjAuMA.." alt="HK IoT" class="w-1/2 m-auto">
            <h1 class="text-center text-4xl font-bold text-blue-900">SUMMARY</h1>
        </div>
    </section>
    <section>
        <div class="m-auto w-3/4 flex justify-between p-5 text-2xl font-bold text-blue-900">
               <p>{{tanggal}}</p>
               <p id="venue"></p>
        </div>

        <div class="m-auto w-4/5 flex flex-wrap justify-between font-bold text-blue-900">
            <div class="w-36 pb-2">
                <p>Total Masuk</p>
                <div class="p-4 mt-2 bg-second text-center">
                    <p><span id="totmasuk"></span> orang</p>
                </div>
            </div>
            <div class="w-36">
                <p>Total Keluar</p>
                <div class="p-4 mt-2 bg-second text-center">
                    <p><span id="totkeluar"></span> orang</p>
                </div>
            </div>
            <div class="w-36">
                <p>Masuk Terbanyak</p>
                <div class="p-4 mt-2 bg-second text-center">
                    <p>- orang</p>
                </div>
            </div>
            <div class="w-36">
                <p>Keluar Terbanyak</p>
                <div class="p-4 mt-2 bg-second text-center">
                    <p>- orang</p>
                </div>
            </div>
        </div>
    </section>

    <section class="pt-5 font-bold text-blue-900">
        <div class="w-4/5 m-auto flex flex-wrap justify-evenly">
            <div class="pb-3">
                <p>Masuk</p>
                <div class="">
                    <canvas id="masuk"></canvas>
                </div>
            </div>
            <div class="pb-3">
                <p>Keluar</p>
                <div class="">
                    <canvas id="keluar"></canvas>
                </div>
            </div>
        </div>
        <div class="pb-3 w-4/5 m-auto text-center">
            <p>Linimasa</p>
            <div class="m-auto">
                <canvas id="linimasa"></canvas>
            </div>
        </div>
    </section>

    <script type="module" >
        (async function() {

            const jam = [];
            const jumMasuk = [];
            const jumKeluar = [];

            const data = '{{data|tojson}}';
            const obj = JSON.parse(data);
            for(var item in obj){
                if(/\d/.test(item)==true){
                    jam.push(item);
                    jumMasuk.push(obj[item]['in']);
                    jumKeluar.push(obj[item]['out']);
                }
            }
            const totalMasuk = obj['total']['in'];
            const totalKeluar = obj['total']['out'];

            document.getElementById('venue').innerHTML = obj['total']['name'];
            document.getElementById('totmasuk').innerHTML = totalMasuk;
            document.getElementById('totkeluar').innerHTML = totalKeluar;

            const masuk = new Chart(
                document.getElementById('masuk'),
                {
                type: 'bar',
                data: {
                    labels: jam,
                    datasets: [
                        {
                        backgroundColor:'blue',    
                        label: 'Jumlah Pengunjung Masuk Per Jam',
                        data: jumMasuk
                        }
                        ]
                    },
                }
            );

            const keluar = new Chart(
                document.getElementById('keluar'),
                {
                type: 'bar',
                data: {
                    labels: jam,
                    datasets: [
                        {
                        backgroundColor:'red',    
                        label: 'Jumlah Pengunjung Keluar Per Jam',
                        data: jumKeluar
                        }
                        ]
                    },
                }
            );
            const linimasa = new Chart(
                document.getElementById('linimasa'),
                {
                type: 'line',
                data: {
                    labels: jam,
                    datasets: [
                        {
                        fill:false,
                        lineTension:0,
                        borderWidth:1,
                        borderColor:'blue',
                        pointBackgroundColor:'blue',   
                        label: 'Jumlah Pengunjung Masuk',
                        data: jumMasuk
                        },
                        {
                        fill:false,
                        lineTension:0,
                        borderWidth:1,
                        borderColor:'red',
                        pointBackgroundColor:'red',   
                        label: 'Jumlah Pengunjung Keluar',
                        data: jumKeluar
                        }
                        ]
                    },
                }
            );


            })();
    </script>
</body>
</html>